<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{{.AppName}}</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.5.1/css/bulma.min.css">
  <style>
    label.options>span {
      width: 80px;
      text-align: right;
      display: inline-block;
      margin-right: 16px;
    }
  </style>
</head>
<body>
  <section class="section">
    <div class="container">
      <h1 class="title">
        {{.AppName}}
      </h1>
      <p class="subtitle">
        The easiest way to convert WebM to MP4.
      </p>
    </div>
  </section>
  <section class="section">
    <div class="container" style="margin-bottom: 16px;">
      <input type="file" accept="video/webm" />
    </div>
    <div class="container" style="margin-bottom: 16px;">
      <label class="options">
        <span>Start:</span>
        <input id="start" type="time" />
      </label>
    </div>
    <div class="container" style="margin-bottom: 16px;">
      <label class="options">
        <span>Duration:</span>
        <input id="duration" type="time"  />
      </label>
    </div>
    <div class="container" style="margin-bottom: 16px;">
      <label class="options">
        <span>Speed:</span>
        <input id="speed" type="number" min="0.25" max="4" step="0.25" />
      </label>
    </div>
    <div class="container" id="buttons">
      <a class="button is-primary" id="submit">Convert</a>
    </div>
    <div class="container" id="message" style="padding-top:16px;"></div>
  </section>
  <section class="section">
    <div class="container" style="">
      <a class="button is-primary is-outlined" href="https://github.com/otiai10/webm2mp4">
        <span class="icon">
          <i class="fa fa-github"></i>
        </span>
        <span>https://github.com/otiai10/webm2mp4</span>
      </a>
    </div>
  </section>
  <script type="text/template" id="message-danger">
    <article class="message is-warning is-small">
      <div class="message-body" id="message-body">#{message}</div>
    </article>
  </script>
  <script type="text/javascript" src="/assets/index.js"></script>
</body>
</html>
