<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{{.AppName}}</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.5.1/css/bulma.min.css">
</head>
<body>
  <section class="section">
    <div class="container">
      <h1 class="title">
        {{.AppName}}
      </h1>
      <p class="subtitle">
        The easiest way to convert WebM to MP4.
      </p>
    </div>
  </section>
  <section class="section">
    <div class="container" style="margin-bottom: 16px;">
      <input type="file" />
    </div>
    <div class="container" id="buttons">
      <a class="button is-primary" id="submit">Convert</a>
    </div>
  </section>
  <section class="section">
    <div class="container" style="">
      <a class="button is-primary is-outlined">
        <span class="icon">
          <i class="fa fa-github"></i>
        </span>
        <span>https://github.com/otiai10/webm2mp4</span>
      </a>
    </div>
  </section>
  <script type="text/javascript" src="/assets/index.js"></script>
</body>
</html>
