<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <!-- Google Fonts -->
  <link rel="stylesheet" href="//fonts.googleapis.com/css?family=Roboto:300,300italic,700,700italic">
  <!-- CSS Reset -->
  <link rel="stylesheet" href="//cdn.rawgit.com/necolas/normalize.css/master/normalize.css">
  <!-- Milligram CSS minified -->
  <link rel="stylesheet" href="//cdn.rawgit.com/milligram/milligram/master/dist/milligram.min.css">
  <link rel="stylesheet" href="/assets/index.css" />
</head>
<body>
  <main class="wrapper">
    <nav class="navigation">
      <section class="container">
        <h1 class="title navigation-title">webm2mp4</h1>
      </section>
    </nav>
    <section class="container">
      <div class="form">
        <div class="row">
          <div class="column">
            <input id="source" type="file" accept="video/webm" />
            <button id="submit" class="button-black button-outline">CONVERT</button>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="column">
          <div id="progress-bar"></div>
        </div>
      </div>
      <div class="row">
        <div class="column">
          <div id="progress-message"></div>
        </div>
      </div>
    </section>
  </main>
  <script type="text/javascript" src="/assets/index.js"></script>
</body>
</html>
